header {
    display: flex;
    @extend %vertical-center;
    align-items: stretch;
    height: calc(#{$header-height});
    background: lighten($color-turquoise, 10%);
    box-shadow: 0 1px 2px 2px lighten($color-turquoise, 10%);
    margin-bottom: $header-margin;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 1;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 $spacing-unit;
    }

    h3 {
        @extend %vertical-center;
        @extend %serif;
        text-decoration: none;
        margin: 0;
        color: $color-burgundy;
        
        &:before {
            content: attr(data-label-small);
        }
        
        &:hover {
            color: darken($color-burgundy, 10%);
        }
        
        @include media-query($tablet) {
            a, a:visited {
                display: inline !important;
            }
            
            &:before {
                content: normal;
            }
        }

        a, a:visited {
            color: inherit;
            display: none;
        }

        a:hover {
            text-decoration: none;
            color: inherit;
        }
    }
    
    @include media-query($tablet) {
        .header-wrapper {
            padding: 0 $page-gutter;
        }
    }
}

nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.nav-item {
    @extend %vertical-center;
    @extend %serif;
    padding-left: 2rem;
}
