.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $color-grey;
        }
    }
}

.vertical-center {
    @extend %vertical-center;
}

.text-center {
    text-align: center;
}
