---
layout: default
---
<div class="home">
    <div class="home--header">
        <h1>Hi, I'm Emily</h1>
    </div>
    
    <div class="home--options">
        <div class="home--option home--option__pink">
            <a href="/portfolio/introduction/">
                <div class="home--option__inner">
                    <h2>Portfolio</h2>
                    <span>Academic portfolio for WHHR 420</span>
                </div>
            </a>
        </div>
        <div class="home--option home--option__blue">
            <a href="/samples/">
                <div class="home--option__inner">
                    <h2>Writing Samples</h2>
                    <span>A collection of academic writing samples</span>
                </div>
            </a>
        </div>
    </div>
</div>